<div class="container">
  <div class="row justify-content-center">
    <h1 class="col-md-12 col-sm-12 col-xs-12 m-3 text-center">
      Ajouter Groupe
    </h1>

    <div id="div1" class="col-md-4 col-sm-12 col-xs-12">
      <label class="fw-bold">Programme:</label>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
          <i class="fa fa-book icon"></i>
        </span>
        <select class="form-select w-75">
          <option
            *ngFor="let Programme of ListProgramme"
            id="{{ Programme.Intitule }}"
          >
            {{ Programme.Intitule }}
          </option>
        </select>
      </div>
    </div>

    <div id="div2" class="col-md-4 col-sm-12 col-xs-12">
      <label class="fw-bold">Nom du groupe:</label>
      <div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa fa-tag icon"></i
          ></span>
          <input
            type="text"
            class="form-control"
            placeholder="Nom"
            (keyup)="onkeyup($event)"
          />
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center my-4">
      <input
        type="submit"
        (click)="Ajouter()"
        class="btn btn-primary fw-bold"
        value="Ajouter"
      />
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="gro">
        <div class="container">
          <div class="roe">
            <h1 class="col-md-12 col-sm-12 col-xs-12 text-center mb-3">
              Liste des Groupes
            </h1>
          </div>
          <div id="Liste" class="row">
            <div
              class="carte col-md-3 col-sm-12 col-xs-12 text-center"
              *ngFor="let groupe of listGroup"
            >
              <img
                id="{{ groupe.Id }}"
                src="../../../../assets/img/imgsys/icons/close.png"
                class="closeS"
                (click)="Supprimer($event)"
              />
              <label class="fw-bold">{{
                groupe.Programme.Intitule + groupe.Libelle
              }}</label>
              <div></div>
              <label class="p-3 blk"
                ><b class="">Nombre d'élèves : </b>
                {{ groupe.NumberEleve }}</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
