<form method="" class="container">
  <div class="row justify-content-center">
    <h1 class="col-md-12 col-sm-12 col-xs-12 text-center mb-3">
      Gerer les emplois de temps
    </h1>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <label class="fw-bold">Filtrer par:</label>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
          <i class="fa fa-book icon"></i>
        </span>
        <select class="form-select w-75" id="apprentissage">
          <option>Groupe</option>
          <option>Salle</option>
          <option>Enseignant</option>
          <option>Jour</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <label class="fw-bold">Filtrer par:</label>
      <div class="input-group">
        <span class="input-group-text">
          <i class="fa fa-book icon"></i>
        </span>
        <select class="form-select w-75">
          <option>CE4 B</option>
          <option>CE4 A</option>
          <option>CE1 A</option>
        </select>
      </div>
    </div>
    <h1 class="col-md-12 col-sm-12 col-xs-12 text-center mb-3">
      Emploi du temps
    </h1>
    <div class="col-md-10 col-sm-12 col-xs-12" id="tab">
      <table id="table1" class="table">
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let tim of time" colspan="2">
              {{ tim }}h-{{ tim + 1 }}h
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let day of days; let j = index">
            <td>{{ day }}</td>
            <td
              (mouseover)="onmouseover(10 * i + j)"
              (mouseout)="onmouseout(10 * i + j)"
              id="{{ 10 * i + j }}"
              *ngFor="let cre of empl; let i = index"
              (click)="divclicked(10 * i + j)"
            ></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12"></div>
    <div class="col-md-10 col-sm-12 col-xs-12"></div>
    <div id="InfoSeance" class="col-md-4 col-sm-12 col-xs-12">
      <img src="../../../../assets/img/imgsys/icons/close.png" alt="Delete" />
      <i class="fa fa-tag icon" (click)="EditSeance()">edit</i>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">DE 8 A 12</div>
        <div class="col-md-12 col-sm-12 col-xs-12">PROF:MR.SAAD</div>
        <div class="col-md-12 col-sm-12 col-xs-12">MODULE:MATH</div>
        <div class="col-md-12 col-sm-12 col-xs-12">GROUPE :CE4A</div>
      </div>
    </div>
    <div
      id="edit"
      class="edit col-md-4 col-sm-12 col-xs-12"
      style="display: none"
    >
      <div class="row justify-content-center">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <span>HeurDebut</span
          ><select>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <span>Duree</span>
          <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <select>
            <option>00</option>
            <option>30</option>
          </select>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          Groupes
          <select>
            <option>CE7</option>
            <option>CE8</option>
          </select>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          Matier :<input type="text" />
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          Enseignant :<input type="text" />
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <input
            value="Enregistrer"
            type="button"
            class="btn btn-primary"
            (click)="Enregistrer()"
          />
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <input
            value="Supprimer"
            type="button"
            class="btn btn-primary"
            (click)="Supprimer()"
          />
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12"></div>
      </div>
    </div>
    <div id="tab2" class="col-md-10 col-sm-12 col-xs-12">
      <table id="table2" class="table" (click)="rowFusion()">
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let day of days; let j = index">{{ day }}</th>
          </tr>
        </thead>
        <tbody id="tbdy">
          <tr *ngFor="let tim of time">
            <td rowspan="2">{{ tim }}h-{{ tim + 1 }}h</td>
            <td *ngFor="let day of days; let j = index"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
