img
{
    width: 50px;
    height: 50px;
}
img:hover
{
    cursor: pointer;
} 
th
{
    background-color: #0d6efd;
    border-radius: 3px;
    text-align: center;
    padding:  5px;
}
td
{
   text-align: center;
}
table
{
    border: 1px solid black;
    border-collapse: separate;
     border-radius: 3px;
} 
#tabl
{
   overflow-x: auto;
}
/* td
{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
td:first-child
{
    border-left: none;
}
tr:last-child td
{
    border-bottom: none;
} */