<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <!-- <li>
            <a class="navbar-brand text-center" routerLink="/LogoSchoolComponent"
              ><img
                class="img-fluid"
                src="../../../../assets/img/imgsys/scheduleBackground.png"
                alt="Logo"
            /></a>
          </li> -->
      <li>
        <a class="nav-link text-left" routerLink="/AjouterEnseignantComponent"
          >Ajouter Enseignenat</a
        >
      </li>
      <li>
        <a class="nav-link text-left" routerLink="/ListEnseignantComponent"
          >List Enseignant</a
        >
      </li>
      <li>
        <a class="nav-link text-left" routerLink="/AjouterGroupeComponent"
          >Ajouter Groupe</a
        >
      </li>
      <!-- <li>
            <a class="nav-link text-left" routerLink="/ListGroupeComponent"
              >List Groupe</a
            >
          </li> -->
      <li>
        <a class="nav-link text-left" routerLink="/GererProgrammesComponent"
          >Gerrer Programe</a
        >
      </li>
      <li>
        <a class="nav-link text-left" routerLink="/ListProgrammeComponent"
          >List Programme</a
        >
      </li>
      <li>
        <a class="nav-link text-left" routerLink="/GererEmploiComponent"
          >Gerrer Emploi</a
        >
      </li>
      <li>
        <a class="nav-link text-left" routerLink="/SchoolInfoComponent"
          >Info General</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbardrop"
          data-toggle="dropdown"
        >
          Dropdown link
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/SchoolInfoComponent">Link 1</a>
          <a class="dropdown-item" routerLink="/SchoolInfoComponent">Link 2</a>
          <a class="dropdown-item" routerLink="/SchoolInfoComponent">Link 3</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
