<form method="" class="container">
  <div class="row justify-content-center">
    <h1 class="col-md-12 col-sm-12 col-xs-12 pb-3">
      Informations Generales de L'Etablissement
    </h1>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row justify-content-center">
        <div class="col-md-9 col-sm-10 col-xs-10">
          <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <label class="fw-bold">Email:</label>
              <div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-envelope icon"></i
                  ></span>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <label class="fw-bold">Telephone de l'Etablissement:</label>
              <div class="">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-phone icon"></i
                  ></span>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Telephone"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <label class="fw-bold">Adresse:</label>
              <div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-map-marker icon"></i
                  ></span>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Adresse"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <label class="fw-bold">Nom de l'Etablissement:</label>
              <div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-etsy icon"></i
                  ></span>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Nom de l'Etablissement"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <div class="row justify-content-center">
            <div class="row justify-content-center">
              <label class="fw-bold col-md-12 col-sm-12 col-xs-12">
                Logo de l'etablissement
              </label>
              <div id="Picture ">
                <img
                  class="img-fluid pb-2"
                  src="../../../../assets/img/imgsys/scheduleBackground.png"
                  alt="Pict"
                />
                <div class="text-center" id="Load">
                  <div>
                    <input
                      class="btn btn-primary"
                      type="button"
                      value="Choisir image"
                      onclick="document.getElementById('selectedFile').click();"
                    />
                  </div>
                  <input
                    type="file"
                    id="selectedFile"
                    style="display: none"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <!-- text-center justify-content-center mx-4 -->
      <div class="">
        <input type="button" class="btn btn-primary" value="Enregistrer" />
      </div>
    </div>
  </div>
</form>

<!-- ☰ -->
