/* div div:hover
{
    width: 200px;
    height: 40px;
    background-color: rgb(221, 29, 173);
    cursor: pointer;
}
img:hover ~ p
{
    color: rgb(209, 49, 49);
    visibility: visible;
    text-align: center;
}
div:hover ~ p
{
    color: rgb(22, 156, 62);
    visibility: visible;
} 
div div
{
width: 50px;
height: 40px;
background-color: rgb(20, 28, 172);
border-radius: 8px;
/* }
*/





/* #container
{
    position: absolute;
    right: 0px;
    top: 0;
}
#item1
{
z-index: 1;
}
#item2
{
z-index: 2;
}
#item3
{
z-index: 3;
}  */






/* 
img{
    
    width: 45px;
    height: 45px;
    background-color: rgb(20, 28, 172);
}
#Menu
{
    position: relative;
}
.item:first-child
{
top: 0;

}.item:last-child
{
bottom: 0;

} 
/* img{
    width: 45px;
    height: 45px;
}
div
{display: inline-block;} */

/* img{
    width: 50px;
    height: 50px;
     background-color: rgb(20, 28, 172); 
} */

/* #container1
{list-style: none;
position: absolute;
right: -10%;
background-color: coral;
}
#container2
{
position: relative;
background-color: rebeccapurple;
}

.item  
{
    position: absolute;
}
.item :first-child 
{
    bottom: 10;
    right: 0;
}

div div div div
{
    text-align: justify;
}
.item  :hover
{
    width: 350px;
} */

.rightmenu{
	position:fixed;
	right: -131px;
	height: 40px;
	width:170px;
	color:white;
	background-color: var(--color1);
	transition: right 300ms;
	padding-left: 0px;
	padding-right: 0px;
	text-align: left;
	border:none;
	border-radius: 5px;
}

.slideimg{
	height: 90%;
	margin-right: 5px;
	margin-left: 2px;

}
.rightmenu:hover{
	right:0px;
}
#fsbutton {
    top:200px;
    background-color: #2c965f;
    }
#bmbutton 
{
    top : 150px;
    background-color: #2c965f;
}    
#dsbutton 
{
    top:250px;
    background-color: #2c965f;
}
            