<div>
  <div id="posi">
    <button id="bmbutton" class="rightmenu btn btn-info">
      <img
        src="../../../assets/img/imgsys/icons/badge.png"
        class="slideimg"
      />Badge Manuel
    </button>
    <button id="fsbutton" class="rightmenu btn btn-primary">
      <img
        src="../../../assets/img/imgsys/icons/absence.png"
        class="slideimg"
      />Fiche d'absence
    </button>
    <button id="dsbutton" class="rightmenu btn">
      <img
        src="../../../assets/img/imgsys/icons/calendar.png"
        class="slideimg"
      />Date Specifique
    </button>
  </div>
</div>
